$primary-color: #000000;
$secondary-color: #fff;
$tertiary-color: #112b3c;
$gray-color: #efefef;
$title-color: #1a093f;
$text-color: #6f6681;

$brand-primary: #cc0066;
$brand-secondary: #66cccc;
$brand-tertiary: #ffcc00;
$brand-quaternary: #ff6666;

// SİZE:

$font-size-small: 12px;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2.5rem;
$font-size-xxxlarge: 3.5rem;
$font-size-xxxxlarge: 5rem;

$font-size-xsmall: 10px;
